// @import "~skin";

// 默认的基本颜色
$baseColor: #f55 !default;	
//根据条件的显示和隐藏
$conditionDisplay : block !default;

// 默认的背景基本颜色
$cf : #fff;     //white
$cf2: #f2f2f2; 	//light Gray
$eb : #ebebeb;  //Gray
$cfc: #fcfcfc;	//Shallow Gray
$cb : #bbb;		

$c5 : #555;		//Moderate Black
$c8 : #888;		//Dark Grey
$c0 : #000;		//black

$cf5: #f55;		//red
$cDg: #00c46d;	//Dark Green

// $colorlightGray: #f2f2f2 !default; 
// $colorRed : #f55;
// $colorWhite : #fff;
// $colorShallowGray : #fcfcfc;
// $colorGray : #ebebeb;
// $colorBbb : #bbb;
// $colorDarkGrey : #888;
// $colorModerateBlack : #555;
// $colorBlack : #000;



